
body {
    /* background-color:gray; */
    background: linear-gradient(to top left, rgb(130, 130, 255), rgb(168, 254, 241));
    background-attachment: fixed;
}

.main {
    /* background-color: rgb(235, 255, 226);*/
    background-color: #fffcd8;
    min-height: 700px;
}
.preview {
    font-size: 18px;
}

.my-btn {
    margin-top: 5px;
}

.my-text {
    font-size: 16px;
    margin-top: 5px;
}

.my-title-main {
    font-weight:bold;
}

.my-title {
    font-size: 24px;
    font-weight:bold;
}

.my-card {
    padding: 15px;
}

.my-row {
    display: flex;
    font-size: 60px;
    font-weight:bold;
    justify-content: center;
}