<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Most popular</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <a class="nav-link" th:href="@{/most-popular-movies}">Top 100 Most Popular Movies</a>
                <a class="nav-link" th:href="@{/most-popular-series}">Top 100 Most Popular Series</a>
                <a class="nav-link" th:href="@{/top-250-movies}">Top 250 Movies</a>
                <a class="nav-link" th:href="@{/top-250-series}">Top 250 Series</a>
                <a class="nav-link" th:href="@{/saved}">Saved</a>
                <a class="nav-link" th:href="@{/favorites}">Favorites</a>

                <span sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" th:href="@{/admin}">Admin</a>
                </span>

            </div>
        </div>
        <button type="button" class="btn btn-warning">
            <a sec:authorize="isAnonymous()" class="nav-link" th:href="@{/login}">Sign in</a>
            <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/logout}">Sign Out</a>
        </button>
    </div>
</nav>

<div class="container main">
    <br>
    <div class="preview">
        <h2>IMDb movies</h2>
        <hr>
        <p>The project is intended for informational purposes. It allows users to save movies they plan to watch later or mark them as favorites. The user receives updated information each time they access the project.</p>
        <p>The project utilizes a third-party free service called IMDb API, which does not store the actual movies and content protected by copyright.</p>
        <p>IMDb API is a web service used to retrieve information about movies, TV shows, and cast members. The API results are in JSON format and include various elements such as movie details, images, posters, trailers, ratings, Wikipedia page content, and more.</p>
        <p>The project consists of a server written in Java and includes a MySQL database.</p>
        <p>The service is obtained from <a href="https://imdb-api.com">IMDb API</a></p>
    </div>
    <br>
</div>

</body>
</html>
